<article class="container bg-tema-escuro-2 mb-200 cadastro-container">
  <h1 class="font-1-xl mb-20 cor-texto-b-3">Cadastro</h1>
  <form [formGroup]="formulario" (ngSubmit)="CadastrarUsuario()">
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="email" class="font-2-s">Email</label>
        <input type="email" name="email" id="email" class="font-2-s" formControlName="email" (input)="formularioAlterado = true">
        <p class="warning" *ngIf="formulario.get('email')?.dirty && formulario.get('email')?.hasError('required')">Campo obrigatório.</p>
        <p class="warning" *ngIf="formulario.get('email')?.dirty && formulario.get('email')?.hasError('email')">Email inválido.</p>
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="nome_completo" class="font-2-s">Nome Completo</label>
      <input type="text" name="nome_completo" id="nome_completo" class="font-2-s" formControlName="nome_completo" (input)="formularioAlterado = true">
              <p class="warning" *ngIf="formulario.get('nome_completo')?.hasError('required')">Campo obrigatório.</p>
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="nome_usuario" class="font-2-s">Nome Usuario</label>
      <input type="text" name="nome_usuario" id="nome_usuario" class="font-2-s" formControlName="nome_usuario" (input)="formularioAlterado = true">
      <p class="warning" *ngIf="formulario.get('nome_usuario')?.hasError('required')">Campo obrigatório.</p>
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="telefone" class="font-2-s">Telefone</label>
      <input type="text" name="telefone" id="telefone" class="font-2-s" formControlName="telefone" (input)="formularioAlterado = true">
      <div *ngIf="formulario.get('telefone')?.dirty || formulario.get('telefone')?.touched">
        <p class="warning font-2-s" *ngIf="formulario.get('telefone')?.hasError('required')">O telefone é obrigatório.</p>
        <p class="warning font-2-s" *ngIf="formulario.get('telefone')?.hasError('pattern')">O telefone deve ter 11 dígitos numéricos.</p>
      </div>
    </div>


    <div class="font-2-m mb-16 cor-texto-b-3">
      <label for="senha" class="font-2-s">Senha</label>
      <input type="password" name="senha" id="senha" class="font-2-s" formControlName="senha" (input)="formularioAlterado = true">
    </div>
    <button class="font-1-m-b button">Cadastrar</button>
  </form>
  <p class="warning font-2-s" *ngIf="warning && !formularioAlterado">{{warning}}</p>
</article>