<article class="container bg-tema-escuro-2 mb-200 editar-container">
  <h1 class="font-1-xl mb-20 cor-texto-b-3">Editar usuário</h1>
  <form>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="email" class="font-2-s">Email</label>
     <input type="email" name="email" id="email" class="font-2-s">
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="nome_completo" class="font-2-s">Nome Completo</label>
      <input type="text" name="nome_completo" id="nome_completo" class="font-2-s">
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="nome_usuario" class="font-2-s">Nome Usuario</label>
      <input type="text" name="nome_usuario" id="nome_usuario" class="font-2-s">
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3 ">
      <label for="telefone" class="font-2-s">Telefone</label>
      <input type="text" name="telefone" id="telefone" class="font-2-s">
    </div>
    <div class="font-2-m mb-8 cor-texto-b-3">
      <label for="cpf" class="font-2-s">CPF ou CNPJ</label>
      <input type="text" name="cpf" id="cpf" class="font-2-s">
    </div>
    <div class="font-2-m mb-16 cor-texto-b-3">
      <label for="senha" class="font-2-s">Senha</label>
      <input type="password" name="senha" id="senha" class="font-2-s">
    </div>
    <button class="font-1-m-b button">Editar</button>
  </form>
</article>