<footer class="bg-gradiente">
  <div class="container footer">

    <div class="sobre">
      <div class="footer-sobre-logo mb-20">
        <figure><img src="../../assets/Vector.svg" alt="" width="46"></figure>
        <h2 class="font-1-xl cor-texto">Firebox</h2>
      </div>
      <div class="footer-sobre-desc">
        <p class="font-2-s cor-texto">O Firebox é uma plataforma de comércio eletrônico que oferece aos usuários a possibilidade de criar e excluir produtos. Com uma interface intuitiva e amigável, os usuários podem facilmente adicionar novos produtos ao catálogo da loja virtual e gerenciar seus itens existentes.</p>
      </div>
    </div>

    <div class="contato-wrapper">
      <h2 class="font-1-xl cor-texto mb-20 contato-titulo">Contato</h2>
      <a href="#" class="contato-redeSocial mb-16">
        <figure><img src="../../assets/envelope-fill.svg" alt=""></figure>
        <p class="font-2-s cor-texto">firebox</p>
      </a>
      <a href="#" class="contato-redeSocial mb-16">
        <figure><img src="../../assets/facebook.svg" alt=""></figure>
        <p class="font-2-s cor-texto">Firebox</p>
      </a>
      <a href="#" class="contato-redeSocial mb-16">
        <figure><img src="../../assets/instagram.svg" alt=""></figure>
        <p class="font-2-s cor-texto">Firebox</p>
      </a>
      <a href="#" class="contato-redeSocial mb-16">
        <figure><img src="../../assets/whatsapp.svg" alt=""></figure>
        <p class="font-2-s cor-texto">99999-9999</p>
      </a>
    </div>
  </div>
</footer>