.lista-produto-wrapper {
  margin-top: 7.5rem;
  margin-bottom: 12.5rem;
  padding: 2.5rem 5rem;
}

@media (max-width: 900px) {
  .lista-produto-wrapper {
    padding: 1.5rem;
  }
  .lista-produto-wrapper h1 {
    font: var(--font-1-xl);
  }
  .lista-produto-wrapper p {
    font: var(--font-2-s);
  }
}

.lista-produto-produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(235px, 235px));
  gap: 1.5rem 1.25rem;
}

@media (max-width: 600px) {
  .lista-produto-produtos {
    place-content: center;
  }
}

.lista-produto-produtos-produto {
  padding: 0.625rem 0.625rem 1.25rem;
  border: 2px solid var(--cor-b-9);
  border-radius: 4px;
}

.lista-produto-produtos-produto img {
  object-fit: cover;
  width: 215px;
  height: 116px;
  border-radius: 4px;
}

.lista-produto-produtos-editar-btns {
  display: flex;
  justify-content: space-between;
}

.lista-produto-produtos-editar-btns .button {
  padding: 0.25rem 0.5rem;
  font: var(--font-1-xs-b);
}
