<article class="container bg-tema-escuro-2 produto-wrapper mb-200">
  <div *ngIf="isLoading"><app-loading></app-loading></div>
  <h1 *ngIf="produto" class="font-1-xxl mb-12 produto-titulo cor-e-5">{{produto[0].titulo}}</h1>
  <div class="produto-info">
    <div class="produto-image-wrapper">
      <figure class="image-principal" *ngIf="produto"><img src="{{fotoPrincipal}}" alt="" width="490" height="387"></figure>
      <div class="produto-image-secundaria" *ngIf="produto">
        <figure class="image-secundaria mb-12"><img src="{{fotos[0]}}" alt="" (click)="mudarFotoPrincipal(0)" width="65" height="80"></figure>
        <figure class="image-secundaria mb-12"><img src="{{fotos[1]}}" alt="" (click)="mudarFotoPrincipal(1)" width="65" height="80"></figure>
        <figure class="image-secundaria mb-12"><img src="{{fotos[2]}}" alt="" (click)="mudarFotoPrincipal(2)" width="65" height="80"></figure>
      </div>
    </div>
    <div class="produto-box">
      <p class="produto-vendedor font-2-s mb-8 cor-texto-b-3" *ngIf="produto">{{produto[0].nome_usuario}}</p>
      <h2 class="font-2-xl mb-12 produto-preco cor-e-5" *ngIf="produto">R$ {{produto[0].valor}}</h2>
      <p class="font-2-xs mb-8 cor-texto-b-6">Entre em contato com o vendedor e finalize a sua compra agora!</p>
      <div class="produto-box-btns">
        <button class="button font-2-s">Chat <img src="../../assets/fogo-de-fundo-home.svg" alt="" width="24"></button>
        <button (click)="desfavoritar()" class="button font-2-s" [disabled]="disabled">Desfavoritar</button>
      </div>
    </div>
    <div class="produto-desc">
      <h1 class="font-1-xl mb-16 cor-texto-b-3">Descrição</h1>
      <p class="font-2-s cor-texto-b-6">O iPhone 14 é o novo lançamento da Apple, com processador A18 Bionic, tela OLED Super Retina XDR de 6,7 polegadas, tecnologia 5G e câmera traseira tripla de 64 MP. Além disso, oferece recursos de segurança avançados, incluindo reconhecimento facial e scanner de impressão digital. Com diversas cores modernas e elegantes, experimente agora mesmo o iPhone 14 e aproveite todos os recursos incríveis que ele oferece.</p>
    </div>
    <div class="produto-box bg-b-1">
      <h3 class="font-2-s mb-6 cor-texto-b-3">Lembrete:</h3>
      <p class="font-2-xs cor-texto-b-6">Caso tenha interesse em adquirir o produto, você pode entrar em contato com o vendedor imediatamente clicando no botão CHAT. A partir dessa conversa, você pode obter mais informações sobre o produto, formas de pagamento e envio da sua compra. Não perca mais tempo e adquira já o seu produto!</p>
    </div>
  </div>
</article>